.overlay {
    position: absolute;
    display: none;
    width: 50%;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    left: 25%;
    top: 0%;
    background-color: white;
    z-index: 20;
}

.overlay-header {
    width: 100%;
    height: 50px;
    background-color: #eb178c;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 6px;
}

.overlay-body {
    position: relative;
    padding: 10px;
    font-size: 20px;
}

.overlay-btn {
    margin-right: 15px;
    width: auto;
    padding: 10px;
    height: 15%;
    margin-bottom: 10px;
}

.overlay-active {
    display: block;
    animation: movewindow 0.4s ease-in 0s 1 normal forwards;
}

@keyframes movewindow {
    0% {
        top: 0%;
    }

    100% {
        top: 15%;
    }
}

.backchanger-active {
    background-image: linear-gradient(black 20%, rgb(72, 72, 72) 50%, black);
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 150vh;
    z-index: 5;
    opacity: 0.5;
    object-fit: cover;
}

@media screen and (max-width:550px) and (min-width:200px) {
    .overlay {
        left: 15%;
        width: 70%;
    }

    .overlay-header {
        font-size: 20px;
        padding-top: 10px;
    }

    .overlay-body {
        font-size: 17px;
    }
}